# Default ignored files
/../../Trade Bot OANDA /.idea/shelf/
/../../Trade Bot OANDA /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Trade Bot OANDA /.idea/httpRequests/
# Datasource local storage ignored files
/../../Trade Bot OANDA /.idea/dataSources/
/../../Trade Bot OANDA /.idea/dataSources.local.xml
